@page
@model NorthernWinterBeat.Pages.AttendeeFAQModel
@{
}

<h1>FAQ</h1>
<div>
    <h2>How to do this</h2>
    <p>You do it this way</p>
    <h2>Why to do this</h2>
    <p>Because of this reason</p>
    <h2>When to do this</h2>
    <p>At this time</p>
    <img class="container-fluid" src="https://www.winterbeat.dk/wp-content/uploads/2020/08/joe-.jpg" />
</div>