@page
@model NorthernWinterBeat.Pages.RegisterModel
@{
    ViewData["Title"] = "Home page";
}


<h1>Register New Account</h1>
<input type="text" placeholder="Email" />
<br>
<input type="text" placeholder="Password" />
<br>
<input type="text" placeholder="Repeat Password" />
<br>
<input type="button" value="Register" href="" />