@page
@model NorthernWinterBeat.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <h2>Registrer billet</h2>
    <br>
    <form method="post" asp-page-handler="Register">

        <input type="text" name="TicketEntered" placeholder="TicketID" minlength="0" maxlength="12" /> @*Vælg restrictioner*@
        <br>
        <input type="submit" value="Billet indtastet" />
    </form>
    <h2>Login</h2>
    <form method="post" asp-page-handler="Login">

        <input type="text" name="EmailEntered" placeholder="Email" />
        <br>
        <input type="password" name="PasswordEntered" placeholder="Password" minlength="0" />
        <br>
        <input type="submit" value="Login" />
    </form>
