@page
@model NorthernWinterBeat.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="jumbotron">
    <div class="container text-center">
        <h2>Register Ticket number</h2>
        <br>
        <form method="post" asp-page-handler="Register" id="inForm1">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="ticketEntered" placeholder="Ticket number" aria-label="Ticket ID" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="btnSubmit1">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="jumbotron">
    <div class="container text-center">
        <h2>Login</h2>
        <form method="post" asp-page-handler="Login" id="inForm2">

            <input class="form-control" type="text" name="EmailEntered" placeholder="Email" />
            <br>
            <input class="form-control" type="password" name="PasswordEntered" placeholder="Password" minlength="0" />
            <br>
            <button class="btn btn-primary" id="btnSubmit2"> Login </button>
        </form>
    </div>
</div>