@page
@model NorthernWinterBeat.Pages.Login
@{
    ViewData["Title"] = "Home page";
}

<form>
    <h2>Register</h2>
    <br>
    <input type="text" placeholder="TicketID" />
    <br>
    <a class="nav-link text-dark" asp-area="" asp-page="/Attendee/Register">
        <input type="button" value="Register"/>
    </a>
    <h2>Login</h2>
    <input type="text" placeholder="Email" />
    <br>
    <input type="text" placeholder="Password" />
    <br>
    <a class="nav-link text-dark" asp-area="" asp-page="/Index">
        <input type="button" value="Login"/>
    </a>
    <br>
</form>