@page
@model NorthernWinterBeat.Pages.ResetPasswordModel
@{
}
@if (Model.Alert == "Email Send")
{
    <div class="alert alert-success" role="alert">
        An Email with a login code have been send to your email. Input it in the form below. It could take up to 5 minutes before the email is send
    </div>
}
<br>
<div class="jumbotron">
    <div class="container text-center">
        <h2>Type in your email</h2>
        <p>A reset code will be send to your email. Input the code below, to reset your email. </p>
        <form method="post" asp-page-handler="EmailEntered" id="inForm1">
            <input class="form-control" type="text" name="EmailEntered" placeholder="Email" />
            <br>
            <button class="btn btn-primary" id="btnSubmit1"> Send Mail </button>
        </form>
    </div>
</div>


<div class="jumbotron">
    <div class="container text-center">
        <h2>Input the code we send to your email. </h2>
        <p> </p>
        <form method="post" asp-page-handler="RestPassword" id="inForm2">
            <input class="form-control" name="CodeEntered" placeholder="Code" />
            <br>

            <p>Input your new password</p>
            <input class="form-control" name="Password1Entered" type="password" id="pwd1" minlength="8" placeholder="Password">
            <br>
            <input class="form-control" name="Password2Entered" type="password" id="pwd2" minlength="8" placeholder="Password">
            <br>
            <button class="btn btn-primary" id="btnSubmit2"> Change password </button>
        </form>
    </div>
</div>