@page
@model NorthernWinterBeat.Pages.ResetPasswordModel
@{
}
@if (Model.Alert == "Email Send")
{
<div class="alert alert-success" role="alert">
    An email has been sent. This may take up to 5 minutes. <br>Can't find the email? Check your spam folder. 
</div>
}
else if (Model.Alert == "Wrong Input")
{
    <div class="alert alert-danger" role="alert">
        Wrong code or email. Try again. <br> If your password has been reset multiple times, only the newest code is valid.
    </div>
}
else if (Model.Alert == "Password Different")
{
    <div class="alert alert-danger" role="alert">
        The passwords are not similar. Try again.
    </div>
}
<br>
<div class="jumbotron">
    <div class="container text-center">
        <h2>Forgot your password?</h2>
        <p>Need a new password? Enter your email below.</p>
        <form method="post" asp-page-handler="EmailEntered" id="inForm1">
            <input class="form-control" type="email" name="EmailEntered1" placeholder="Email" />
            <br>
            <button class="btn btn-primary" id="btnSubmit1"> Send Mail </button>
        </form>
    </div>
</div>


<div class="jumbotron">
    <div class="container text-center">
        <h2>Code in email</h2>
        <p>Please enter the code sent to your email.</p>
        <form method="post" asp-page-handler="ResetPassword" id="inForm2">
            <input class="form-control" name="CodeEntered" placeholder="Code" />
            <br>
            <h2>Your email</h2>
            <input class="form-control" type="email" name="EmailEntered2" placeholder="Email" />
            <br>
            <h2>New password</h2>
            <p>Please enter your new password. This cannot be the same as a previously used password.</p>
            <p>Password must be 8 charactes at minimum.</p>
            <input class="form-control" name="Password1Entered" type="password" id="pwd1" minlength="8" placeholder="Password">
            <br>
            <input class="form-control" name="Password2Entered" type="password" id="pwd2" minlength="8" placeholder="Password">
            <br>
            <button class="btn btn-primary" id="btnSubmit2"> Change password </button>
        </form>
    </div>
</div>