@page
@model NorthernWinterBeat.Pages.ResetPasswordModel
@{
}
@if (Model.Alert == "Email Send")
{
    <div class="alert alert-success" role="alert">
        An Email with a login code have been send to your email. Input it in the form below. It may take up to 5 minutes before the email recieved.
    </div>
}
else if (Model.Alert == "Wrong Input")
{
    <div class="alert alert-danger" role="alert">
        Wrong code or email. Try again. <br>If you have tried to reset your email multiple times, only the newset code can be used.
    </div>
}
else if (Model.Alert == "Password Different")
{
    <div class="alert alert-danger" role="alert">
        The passwords are not similar. Try again.
    </div>
}
<br>
<div class="jumbotron">
    <div class="container text-center">
        <h2>Type in your email</h2>
        <p>A reset code will be send to your email.<br> Input the code below, to reset your email. </p>
        <form method="post" asp-page-handler="EmailEntered" id="inForm1">
            <input class="form-control" type="email" name="EmailEntered1" placeholder="Email" />
            <br>
            <button class="btn btn-primary" id="btnSubmit1"> Send Mail </button>
        </form>
    </div>
</div>


<div class="jumbotron">
    <div class="container text-center">
        <h2>Input the code we send to your email</h2>
        <p></p>
        <form method="post" asp-page-handler="ResetPassword" id="inForm2">
            <input class="form-control" name="CodeEntered" placeholder="Code" />
            <br>
            <h2>Input your email</h2>
            <input class="form-control" type="email" name="EmailEntered2" placeholder="Email" />
            <br>
            <p>Input your new password</p>
            <input class="form-control" name="Password1Entered" type="password" id="pwd1" minlength="8" placeholder="Password">
            <br>
            <input class="form-control" name="Password2Entered" type="password" id="pwd2" minlength="8" placeholder="Password">
            <br>
            <button class="btn btn-primary" id="btnSubmit2"> Change password </button>
        </form>
    </div>
</div>