@page
@model NorthernWinterBeat.Pages.Venue.TabelVenueModel
@{
}

<table class="table table-hover" table-bordered>
    <thead>
        <tr>
            <th>
                <form asp-page-handler="SortByArtist" method="post">
                    <button class="btn btn-default">Kunstner</button>
                </form>

            </th>
            <th>
                <form asp-page-handler="SortByTime" method="post">
                    <button class="btn btn-default">Spilletid</button>
                </form>

            </th>
            <th>
                <form asp-page-handler="SortByCapacity" method="post">
                    <button class="btn btn-default">Kapacitet</button>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>

        @{
            List<Concert> SortConcert = new List<Concert>();
            SortConcert = Model.SortConcertsBy();
            string zero = "00";
            foreach (var item in SortConcert)
            {
                <tr>
                    <td>@item.Artist</td>
                    <td>
                        @item.Start.Hour:@if (item.Start.Minute == 0) {@zero;}else{@item.Start.Minute}
                    </td>
                    <td>
                @*@item.Bookings.Length*@/@item.Venue.Capacity</td>       @*MANGLER: Mulighed for at se current capacity. Det kræver ændring i Concert klassen, som jeg ikke vil lave her*@
                </tr>
            }
        }

    </tbody>
</table>


