@page
@model NorthernWinterBeat.Pages.ParticipantConcertOverviewModel
@{
    ViewData["Title"] = "Concert Overview";
}


<div class="btn-group btn-group-justified" role="group" aria-label="Basic example" style="text-align:center">

    @{

        var Dates = new HashSet<DateTime>();

        @foreach (var c in Model.Concerts)
        {
            Dates.Add(c.Start.Date);
        }

        foreach (var d in Dates)
        {
            <div class="btn-group">
                <button class="btn btn-secondary" value=@d.ToString()>@d.DayOfWeek</button>
            </div>
        }
    }
</div>

<div class="list-group">
    <table class="table table-hover">
        <thead>
            <tr>

                <th scope="col">Artist</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody id="concertsOverviewTable">

            @await Html.PartialAsync("Partials/_ConcertOverviewTable", Model)
        </tbody>
    </table>


        @*<div class="row">
    @for (int i = 0; i < 10; i++)
    {
            <div class="card-columns">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Graphics/Pictures/NWB2021_ArtistPhotos_SNS_Blank.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Artist name</h5>
                        <p class="card-text">Description maybe</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Time</li>
                        <li class="list-group-item">Venue</li>
                    </ul>

                </div>
            </div>
        
    }
        </div>*@


</div>

@section scripts{
    <script>
        $(function () {
            $('.btn').on('click', function () {
                var day = $(this).val()
                $('#concertsOverviewTable').load('?handler=ConcertsOverviewPartial&concertDay=' + day);
            });
        });
    </script>
}
