@page
@model NorthernWinterBeat.Pages.ParticipantConcertOverviewModel
@{
    ViewData["Title"] = "Concert Overview";
}
<style>
    .selected {
        text-decoration: none;
        color: #fff;
        background: rgb(10,10,10);
    }
</style>
<div class="btn-group btn-group-justified" role="group" aria-label="Basic example" style="text-align:center; display:inherit">
    @{
        var Dates = new HashSet<DateTime>();

        @foreach (var c in Model.Concerts)
        {
            Dates.Add(c.Start.Date);
        }
        foreach (var d in Dates)
        {
            <div class="btn-group" style="width:32%" >
                <button class="btn btn-secondary day-selection @((d.Date == Model.Day.Value.Date)? "selected" : "")" value=@d.ToString()>@d.DayOfWeek</button>
            </div>
        }
    }
</div>

<div class="list-group" style="text-align:center">
    <table class="table table-hover">
       
        <thead style="font-weight:bold">
            <tr>
                <th>
                    <button class="btn btn-default th-button th-selected" value="Picture"></button>
                </th>
                <th>
                    <button class="btn btn-default th-button th-selected" value="Artist">Artist</button>
                </th>
                <th>
                    <button class="btn btn-default th-button" value="Time">Time</button>
                </th>
                <th>
                    <button class="btn btn-default th-button" value="Venue">Location</button>
                </th>
            </tr>
        </thead>
        <tbody id="concertsOverviewTable" style="overflow-wrap:anywhere">
            @await Html.PartialAsync("Partials/_ConcertOverviewTable", Model)
        </tbody>
    </table>
</div>


@section scripts{
    <script>
        $(function () {
            $('.th-button').on('click', function () {
                var SortBy = $(this).val()
                var day = $(".selected").val()
                $('#concertsOverviewTable').load('?handler=ConcertsOverviewPartial&concertDay=' + day + "&SortBy=" + SortBy)
            });
        });
    </script>
    <script>
        $(function () {
            $('.th-button').on('click', function () {
                $('.th-selected').removeClass('th-selected')
                $(this).addClass('th-selected')

            });
        });

    </script>
    <script>
        $(function () {
            $('.day-selection').on('click', function () {
                $('.selected').removeClass('selected')
                $(this).addClass('selected')
            });
        });

    </script>
    <script>
        $(function () {
            $('.day-selection').on('click', function () {
                var day = $(this).val()
                var SortBy = $(".th-selected").val()
                $('#concertsOverviewTable').load('?handler=ConcertsOverviewPartial&concertDay=' + day + "&SortBy=" + SortBy)
            });
        });
    </script>
}
