@page
@model NorthernWinterBeat.Pages.ParticipantFAQModel
@{
}

<h1>FAQ</h1>
<div>
    <h2>How do i book?</h2>
    <p>Book by select...</p>
    <h2>What if i the wrong concert?</h2>
    <p>Remove booking in the booking ...</p>
    <h2>Why can't i book a concert?</h2>
    <p>There is 3 reasons why you cant book a concert:</p>
    <p>You already have a booking to the concert</p>
    <p>You have a booking to another concert, which overlaps. Check the date, and see what booking you should remove to be able to book to the given concert</p>
    <p>The concert is fully booked. There is already made too many bookings for the concerts. </p>
</div>