@page
@model NorthernWinterBeat.Pages.ParticipantFAQModel
@{
}

<h1>FAQ</h1><br />
<div>
    <h2>Does my ticket for Northern Winter Beat give access to all concerts?</h2>
    <p>No, you can use your ticket to create a booking for the concerts you would like to attend.</p>
    <h2>How do i create a booking?</h2>
    <p>You create a booking by finding a concert you like, and clicking "book spot".</p>
    <h2>What if i create a booking for the wrong concert?</h2>
    <p>
        If you create a booking for the wrong concert, you can simply remove this booking by clicking the same button.<br />
        Your booking can also be removed by going to "my bookings", and clicking remove booking.
    </p>
    <h2>I can't book a spot for this concert. Why?</h2>
    <p>There are multiple reasons as to why you may not be able to create a booking for a concert.</p>
    <p>You have a booking at another concert that overlaps. A menu with the overlapping concerts that will be removed pops up, if you try booking a spot for the given concert.</p>
    <p>The concert is fully booked.</p>
    <h2>How do i get access to a concert?</h2>
    <p>
        When you create a booking, it shows up in your "my bookings" tab. When you arrive at the concert, 
        you can activate your booking and show it to get access to the concert. <br />
        Remember not to activate your booking before you arrive at the entrance.
    </p>
</div>