@page
@model NorthernWinterBeat.Pages.ParticipantRazor.ParticipantArtistModel
@{
}


<div class="d-md-block" id="ArtistBlock">
   
    <h1><button class="btn hBack" style="background-color:transparent" type="button">
        <svg width="2em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="blue" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
        </svg>
    </button> @Model.concert.Artist </h1>

    <img class="container-fluid" src="https://www.winterbeat.dk/wp-content/uploads/2020/08/joe-.jpg" />

    @{
        var claimTicketID = HttpContext.User.Claims.Where(c => c.Type == "TicketID").Select(t => t.Value).First();
        var curUser = NorthernWinterBeatLibrary.Managers.FestivalManager.instance.GetParticipants().Where(p => p.Ticket?.TicketNumber == claimTicketID).First();
         if (Model.concert.Bookings.Where(b => b.Participant == curUser).Count() > 0)
        {
            <button type="button" class="btn btn-block btn-success text-center" data-toggle="modal" data-target="#bookSpot" disabled>
                Booked
            </button>

        }
        else if (!(curUser?.CanMakeBookingAt(Model.concert) ?? false))

        {
            <button type="button" class="btn btn-block btn-danger text-center" data-toggle="modal" data-target="#bookSpot">
                You already have a booking overlapping this concert
            </button>

        }

        else if (Model.concert.IsAtMaxCapacity)
        {
            <button type="button" class="btn btn-block btn-danger text-center" data-toggle="modal" data-target="#bookSpot" disabled>
                This concert is at max capacity
            </button>
        }


        else
        {
            <button type="button" class="btn btn-block btn-outline-primary text-center" data-toggle="modal" data-target="#bookSpot">

                Book spot
            </button>
        }
    }
    <div>
        <h2>Artist Description</h2>
        <p>
            @Model.concert.ArtistDescription
        </p>
    </div>

</div>






<!-- Book spot modal -->
<div class="modal fade " id="bookSpot" tabindex="-1" role="dialog" aria-labelledby="bookSpotLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookSpotLabel">Book Spot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure that you want to book a spot for this concert?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <form asp-page-handler="BookSpot" method="post">
                    @Html.Hidden("id", Model.concert.ID)
                    <button class="btn btn-primary">
                        Yes
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(".hBack").on("click", function (e) {
        e.preventDefault();
        window.history.back();
    })

</script>