@page
@model NorthernWinterBeat.Pages.ParticipantConcertOverviewModel
@{
    ViewData["Title"] = "Concert Overview";
}


<div class="btn-group" role="group" aria-label="Basic example">

    @{

        var Dates = new HashSet<DateTime>();

        @foreach (var c in Model.Concerts)
        {
            Dates.Add(c.Start.Date);
        }

        foreach (var d in Dates)
        {
                <button class="btn btn-secondary" value=@d.ToString()>@d.DayOfWeek</button>
        }
    }
</div>

<div class="list-group">
    <table class="table table-hover">
        <thead>
            <tr>
 
                <th scope="col">Artist</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody id="concertsOverviewTable">

            @await Html.PartialAsync("Partials/_ConcertOverviewTable", Model) 
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(function () {
            $('.btn').on('click', function () {
                var day = $(this).val()
                $('#concertsOverviewTable').load('?handler=ConcertsOverviewPartial&concertDay=' + day);
            });
        });
    </script>
}
