@page
@model NorthernWinterBeat.Pages.Admin.ParticipantAdmin.ParticipantOverviewModel
@{
}
    <div class="card">
        <div class="container">

            <h3><a>Participants</a></h3>
            <p>
                Here you can see all the participants who have made an user <br />
                Click on them to acces special abilities!!
            </p>
        </div>
    </div>

    <table class="table table-hover" table-bordered>
        <thead>
            <tr>
                <th>
                    <button class="btn btn-default th-button" value="E-mail">E-mail</button>
                </th>
                <th>
                    <button class="btn btn-default th-button" value="TicketNr">Ticket Nr</button>
                </th>
                <th>
                    <button class="btn btn-default th-button" value="Name">Name</button>
                </th>
                <th>
                    <button class="btn btn-default th-button" value="DateOfCreation">Registration date </button>
                </th>
            </tr>
        </thead>
        <tbody id="participantOverviewTable">
            <!-- Add partial view here -->
            @await Html.PartialAsync("Partials/_ParticipantOverviewTable", Model)
        </tbody>
    </table>



@section scripts{
    <script>
        $(function () {
            $('.btn').on('click', function () {
                var sortBy = $(this).val()
                $('#participantOverviewTable').load('?handler=ParticipantPartial&sortBy=' + sortBy);
            });
        });
    </script>
}
