@page
@model NorthernWinterBeat.Pages.Participant.ParticipantArtistModel
@{
}


<div class="d-md-block" id="ArtistBlock">
    <h1>@Model.ArtistName</h1>

    <img class="container-fluid" src="https://www.winterbeat.dk/wp-content/uploads/2020/08/joe-.jpg" />

    <button type="button" class="btn btn-block btn-outline-primary">Book Spot</button>

    <div>
        <h2>Artist Description</h2>
        <p>
            @Model.Description
        </p>
    </div>

</div>


