@page
@model NorthernWinterBeat.Pages.ParticipantBookingsModel
@{
}
<h1>My Bookings</h1>
@{
    foreach (var booking in Model.bookings)
    {
        <div class="border">
            <div>
                <ul>
                    <li>
                        @booking.Concert.Artist
                    </li>
                    <li>
                        @booking.Concert.Start
                    </li>
                    <li>
                        @booking.Concert.Venue.Address
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#showBooking">
                    Vis booking
                </button>
                <button type="button" class="btn btn-secondary text-center" data-toggle="modal" data-target="#removeBooking">
                    Afmeld booking
                </button>

                <!-- Show booking modal -->
                <div class="modal fade " id="showBooking" tabindex="-1" role="dialog" aria-labelledby="showBookingLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="showBookingLabel">Vis booking</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Er du sikker på du vil vise din booking? Bookingen er kun gyldig i 10 minutter efter visning.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nej</button>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Participant/ParticipantShowBooking">
                                    <input type="button" class="btn btn-primary" value="Ja" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Remove booking modal -->
                <div class="modal fade " id="removeBooking" tabindex="-1" role="dialog" aria-labelledby="removeBookingLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="removeBookingLabel">Vis booking</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Er du sikker på at du vil fjerne din booking?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nej</button>
                                <button type="button" class="btn btn-primary">Ja</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}