@page
@model NorthernWinterBeat.Pages.Participant.ParticipantShowBookingModel
@{
}

<div class="text-center">
    <h1>Your booking</h1>
    <div>
        <h2>Your ticket number is:</h2>
        <p>@Model.ticketNumber</p>
        <p>or</p>
        <h2>QR Code</h2>
        <img class="container-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png" /> <!-- Fra wikipedia -->
        <h2>Time left: </h2>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#goBackBooking">
            Gå tilbage
        </button>

        <!-- Show booking modal -->
        <div class="modal fade " id="goBackBooking" tabindex="-1" role="dialog" aria-labelledby="goBackBookingLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="goBackBookingLabel">Gå tilbage</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Er du sikker på at du vil gå tilbage? Hvis du går tilbage er din booking ikke gyldig mere.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nej</button>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Participant/ParticipantBookings">
                            <input type="button" class="btn btn-primary" value="Ja" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>