@page
@model NorthernWinterBeat.Pages.Participant.ParticipantArtistModel
@{
}


<div class="d-md-block" id="ArtistBlock">
    <h1>@Model.concert.Artist</h1>

    <img class="container-fluid" src="https://www.winterbeat.dk/wp-content/uploads/2020/08/joe-.jpg" />

    <button type="button" class="btn btn-block btn-outline-primary text-center" data-toggle="modal" data-target="#bookSpot">
        Book spot
    </button>

    <!-- Book spot modal -->
    <div class="modal fade " id="bookSpot" tabindex="-1" role="dialog" aria-labelledby="bookSpotLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookSpotLabel">Book Spot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure that you want to book a spot for this concert?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Participant/ParticipantArtist">
                        <input type="button" class="btn btn-primary" value="Yes" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2>Artist Description</h2>
        <p>
            @Model.concert.ArtistDescription
        </p>
    </div>

</div>


