@page
@model NorthernWinterBeat.Pages.Admin.Pages.AddConcertModel
@{
}

<div class="text-lg-center">
    <h1 class="display-3"> Add concert information </h1>
</div>

<form method="post" asp-page-handler="AsyncCreateConcert" id="inForm1">

    <h3>Artist</h3>
    <input name="ArtistEntered" type="text" placeholder="Enter artist" required />
    <br>
    <h3>Description</h3>
    <textarea cols="75" rows="10" name="DescriptionEntered" placeholder="Enter description"></textarea>
    <br>
    @*<h3>Image</h3>
        <input name="ImageEntered" type="file" placeholder="Add image" required />
        <br>*@
    <br>
    <h3>Venue</h3>
    <select id="myList" name="VenueEntered">
        <option value=""> none </option>
        @{
            foreach (var venue in Model.venues)
            {
                <option value="@venue.Name"> @venue.Name</option>
            }
        }
    </select>

    <br>
    <h3>Date</h3>
    <input name="DateEntered" type="date" placeholder="Enter date" min="2021-01-28" max="2021-01-30" />
    <br>
    <h3>Start time</h3> 
    <input name="StartTimeEntered" type="time" value="00:00"/> 
    <br>

    <input name="EndTimeEntered" type="time" value="00:00" />
    <br>
    <br>

    <input type="submit" id="btnSubmit1" value="Confirm" />
    <input type="button" value="Cancel" data-toggle="modal" data-target="#Cancel">
</form>





<div class="modal fade" id="Cancel" tabindex="-1" role="dialog" aria-labelledby="CancelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Cancel"> Finish adding concert? </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to finish adding concert without saving?
            </div>
            <div class="modal-footer">

                <input type="button" class="btn btn-secondary" data-dismiss="modal" value="No" />
                <form method="post" asp-page-handler="Cancel">
                    <input type="submit" class="btn btn-primary" value="Yes" />
                </form>
            </div>
        </div>
    </div>
</div>
