@page
@model NorthernWinterBeat.Pages.Admin.CalendarModel
@{
    ViewData["Title"] = "Calendar";
}

<div class="card">
    <div class="container">
        <h3><a>Calendar</a></h3>                
        <p>
            Here you can see all of the information about the created concerts: <br />
            The artist, the capacity as well as number of bookings made, which venue, the date and time.
        </p>
        <a class="btn btn-secondary float-right" style="margin: 20px" asp-area="" asp-page="/Admin/AddConcert"  
                title="Click the button to create a new concert. To edit an existing concert, click the specific concert, and then edit.">
            Add concert
            <i class="fas fa-plus-circle"></i>
        </a>
    </div>
</div>

<table class="table table-hover" table-bordered>
    <thead>
        <tr>
            <th>
                <button class="btn btn-default th-button" value="Artist">Artist</button>
            </th>
            <th>
                <button class="btn btn-default th-button" value="Venue">Venue</button>
            </th>
            <th>
                <button class="btn btn-default th-button" value="Time">Date</button>
            </th>
            <th>
                <button class="btn btn-default th-button" value="Time">Time</button>
            </th>
            <th>
                <button class="btn btn-default th-button" value="Capacity">Capacity</button>
            </th>
        </tr>
    </thead>
    <tbody id="concertTable">
        <!-- Add partial view here -->
        @await Html.PartialAsync("Partials/_ConcertTable", Model) 
    </tbody>
</table>

@section scripts{
    <script>
        $(function () {
            $('.btn').on('click', function () {
                var sortBy = $(this).val()
                $('#concertTable').load('?handler=ConcertPartial&sortBy=' + sortBy);
            });
        });
    </script>
}
