@page
@model NorthernWinterBeat.Pages.Admin.CalendarModel
@{
    ViewData["Title"] = "Calendar";
}

<div class="card">
    <div class="container">
        <h3><a>Calendar</a></h3>
        <p>
            Here you can see all of the information about the created concerts: <br />
            The artist, the capacity as well as number of bookings made, which venue, the date and time.
            <br /><br />
            Click the button "Add concert" to create a new concert. <br />
            To edit an existing concert, click the specific concert, and then edit.
        </p>

        <button class="btn btn-secondary float-right" style="margin: 20px" data-toggle="modal" data-target="#newConcert">
            Add concert
            <i class="fas fa-plus-circle"></i>
        </button>
    </div>
</div>

<table class="table table-hover" table-bordered>
    <thead>
        <tr>
            <th>
                <form asp-page-handler="SortByArtist" method="post">
                    <button class="btn btn-default">Kunstner</button>
                </form>

            </th>
            <th>
                <form asp-page-handler="SortByVenue" method="post">
                    <button class="btn btn-default">Venue</button>
                </form>
            </th>
            <th>
                <form asp-page-handler="SortByTime" method="post">
                    <button class="btn btn-default">Spilletid</button>
                </form>

            </th>
            <th>
                <form asp-page-handler="SortByCapacity" method="post">
                    <button class="btn btn-default">Kapacitet</button>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            List<Concert> SortConcert = new List<Concert>(Model.concerts);
            SortConcert = Model.SortConcertBy(SortConcert);

            string zero = "00";

            int i = 0;
            foreach (var item in SortConcert)
            {
                <tr onclick="location.href = '@(Url.Page("ConcertPage", new { id = item.ID }))'">
                    <td>
                        @item.Artist
                    </td>
                    <td>
                        @item.Venue.Name
                    </td>

                    <td>
                        @item.Start.Hour:@if (item.Start.Minute == 0)
                        {@zero;
                    }
                    else
                    {@item.Start.Minute}
                    </td>

                    <td>
                        @*@item.Bookings.Length*@/@item.Venue.Capacity
                    </td>       @*MANGLER: Mulighed for at se current capacity. Det kræver ændring i Concert klassen, som jeg ikke vil lave her*@
                </tr>
                i++;
            }
        }
    </tbody>
</table>


<input type="button" value="Publish" data-toggle="modal" data-target="#Publish">


<div class="modal fade" id="newConcert" tabindex="-1" role="dialog" aria-labelledby="newConcertLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newConcert"> Add new concert? </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to add a new concert to the calendar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> No </button>
                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Concert">
                    <input type="button" class="btn btn-primary" value="Yes" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Publish" tabindex="-1" role="dialog" aria-labelledby="PublishLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Publish"> Publish calendar ? </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                By publishing the calendar it will become public to participants, and they will be able to book concerts.
                <br />
                Are you sure you want to publish the calendar?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> No </button>
                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Calendar">
                    <input type="button" class="btn btn-primary" value="Yes" />
                </a>
            </div>
        </div>
    </div>
</div>
