@page
@model NorthernWinterBeat.Pages.Admin.Pages.ConcertModel
@{
}

<div class="text-lg-center">
    <h1 class="display-3"> Add concert information </h1>
</div>

<form method="post" asp-page-handler="CreateConcert">

    <h3>Artist</h3>
    <input name="ArtistEntered" type="text" placeholder="Enter artist" minlength="1" required />
    <br>
    <h3>Description</h3>
    <input name="DescriptionEntered" type="text" placeholder="Enter description" minlength="1" required />
    <br>
    <h3>Image</h3>
    <input name="ImageEntered" type="file" placeholder="Add image" required />
    <br>
    <br>
    <h3>Venue</h3>
    @*<label></label>*@
    <select id="myList" name="VenueEntered">
        @{ 
            foreach (var venue in Model.venues)
            {
                <option value="@venue.Name"> @venue.Name</option>
            }
        }
    </select>

    <br>
    <h3>Date</h3>
    <input name="DateEntered" type="date" placeholder="Enter date" min="2021-01-28" max="2021-01-30" required />
    <br>
    <h3>Start time</h3>
    <input name="StartTimeEntered" type="time" placeholder="Enter start time" required />
    <br>
    <h3>End time</h3>
    <input name="EndTimeEntered" type="time" placeholder="Enter end time" required />
    <br>
    <br>

    @*<button class="btn btn-default">Confirm</button>*@

    <input type="submit" value="Confirm" />

    <input type="button" value="Cancel" data-toggle="modal" data-target="#Cancel">

    <div class="modal fade" id="Cancel" tabindex="-1" role="dialog" aria-labelledby="CancelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Cancel"> Finish adding concert? </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to finish adding concert without saving?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> No </button>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Calendar">
                        <input type="button" class="btn btn-primary" value="Yes" />
                    </a>
                </div>
            </div>
        </div>
    </div>


</form>
