@page
@model NorthernWinterBeat.Pages.Admin.CreateVenueLoginModel
@{
}

<div class="text-lg-center">
    <h3 class="display-3"> Create a login for the venue @Model.venue?.Name </h3>
</div>

<form method="post" asp-page-handler="CreateVenueLogin">

    @Html.Hidden("id", Model.venue?.ID)
    <h4>Username</h4>
    <input name="VenueUsername" type="text" placeholder="" required value="" />
    <br>
    <br>
    <h4>Password</h4>
    <input name="Password1Entered" type="text" value="" />
    <br>
    <br>
    <h4>Password Again</h4>
    <input name="Password2Entered" type="text" value="" />

    <br>
    <br>
    <input type="submit" value="Confirm">

    <input type="button" value="Cancel" onclick="location.href = '@(Url.Page("VenuePage", new { id = Model.venue?.ID }))'" />
</form>