@page
@model NorthernWinterBeat.Pages.Admin.EditConcertEntityModel

@{
    ViewData["Title"] = "EditConcertEntity";
}

<h1>EditConcertEntity</h1>

<h4>Concert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Concert.ID" />
            <div class="form-group">
                <label asp-for="Concert.Artist" class="control-label"></label>
                <input asp-for="Concert.Artist" class="form-control" />
                <span asp-validation-for="Concert.Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concert.ArtistDescription" class="control-label"></label>
                <input asp-for="Concert.ArtistDescription" class="form-control" />
                <span asp-validation-for="Concert.ArtistDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concert.Start" class="control-label"></label>
                <input asp-for="Concert.Start" class="form-control" />
                <span asp-validation-for="Concert.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concert.End" class="control-label"></label>
                <input asp-for="Concert.End" class="form-control" />
                <span asp-validation-for="Concert.End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concert.Venue.ID" class="control-label"></label>
                <input asp-for="Concert.Venue.ID" class="form-control" />
                <span asp-validation-for="Concert.Venue.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
