@page
@model NorthernWinterBeat.Pages.Admin.IndexAdminModel
@{
}
<h2 style="text-align: center">Welcome to the admin page</h2>
<br />
<div class="card">
    <div class="container">
        <h3><b>Sidebar</b></h3>
        <p>
            On the sidebar you are able to access the calendar and the overview of venues.
            <br />
            In the calendar you can see all of the created concerts, their capacity and participants.
        </p>
    </div>
</div>
<br />
<div class="card">
    <div class="container">
        <h4><b>Calendar</b></h4>
        <p>
            If you have not created and published a calendar yet, you can:
            Add, edit and delete concerts,
            Add, edit and delete venues.
            <br />            
            If you have already created and published a calendar, you can: 
            View capacity of the individual concerts,
            Unbook participants from concerts.
        </p>
    </div>
</div>
<br />
<div class="card">
    <div class="container">
        <h4><b>Venues</b></h4>
        <p>
            Overview of venues.
        </p>
    </div>
</div>





