@page
@model NorthernWinterBeat.Pages.Admin.VenueModel
@{
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-8"> <h3> Venue </h3> </div>
            <div class="col-4"> <p class="float-right"> Kapacitet </p> </div>
        </div>

        <div class="row">
            <div class="col-8"> <p> Beskrivelse </p> </div>
            <div class="col-4">
                <button type="button" class="float-right" data-toggle="modal" data-target="#editVenue">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </div>

            <div class="modal fade" id="editVenue" tabindex="-1" role="dialog" aria-labelledby="editVenueLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editVenue"> edit venue ? </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            nah
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Nej </button>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/EditVenue">
                                <input type="submit" class="btn btn-primary" value="Ja" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-group">
    <table class="table table-hover">
        <thread>
            <tr>
                <th scope="col"> Kunstner </th>
                <th scope="col"> Tidspunkt </th>
                <th scope="col"> Kapacitet </th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <td> jokes </td>
                <td> 11-12-2020 14.48.00 </td>
                <td> 10/20 </td>
                <td> <button class="btn btn-secondary float-right" style="margin: 20px" data-toggle="modal" data-target="#afmeldConcert"> Afmeld </button> </td>

                <div class="modal fade" id="afmeldConcert" tabindex="-1" role="dialog" aria-labelledby="afmeldConcertLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="afmeldConcert"> afmeld deltager ? </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Er du sikker på at du vil afmelde (email) fra denne koncert?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Nej </button>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Venue">
                                    <input type="button" class="btn btn-primary" value="Ja" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>

            <tr>
                <td> emailiscool </td>
                <td> 11-12-2020 </td>
                <td> 11/90 </td>

                <td> <button class="btn btn-secondary float-right" style="margin: 20px" data-toggle="modal" data-target="#afmeldConcert"> Afmeld </i> </button> </td>

                <div class="modal fade" id="afmeldConcert" tabindex="-1" role="dialog" aria-labelledby="afmeldConcertLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="afmeldConcert"> afmeld deltager ? </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                yeh
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Nej </button>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Concerts">
                                    <input type="button" class="btn btn-primary" value="Ja" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>

        </tbody>
    </table>
</div>