@page
@model Index1Model
@{
    ViewData["Title"] = "Venues";
}
e
<button class="btn btn-secondary float-right" style="margin: 20px"> Add new venue <i class="fas fa-plus-circle"></i> </button>

<table class="table" style="width: 100%">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Venue navn</th>
            <th scope="col">Antal koncerter</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Jakob's hus</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>The birds nest</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larrys cage</td>
            <td>29</td>
        </tr>
    </tbody>
</table>
