@page
@model NorthernWinterBeat.Pages.Admin.VenuesOverviewModel

@{
    ViewData["Title"] = "Venues";
}


<div class="card">
    <div class="container">
        <h3><a>Venue</a></h3>
        <p>
            Here you can see all of the information about the created venues: <br />
            The name of the venue, the capacity, and the number of concerts at the venue.
            <br />
            To edit an existing venue, click the specific venue, and then edit.
        </p>

        <a class="btn btn-secondary float-right" style="margin: 20px" asp-area="" asp-page="/Admin/AddVenue"
           title="Click the button to create a new venue.">
            Add Venue
            <i class="fas fa-plus-circle"></i>
        </a>


    </div>
</div>




<table class="table table-hover" table-bordered>
    <thead>
        <tr>
            <th>
                <button class="btn btn-default" value="Venue">Venue</button>
            </th>
            <th>
                <button class="btn btn-default" value="Capacity">Capacity</button>
            </th>
            <th>
                <button class="btn btn-default" value="Address">Address</button>
            </th>
        </tr>
    </thead>
    <tbody id="venuesTable">

        @await Html.PartialAsync("Partials/_VenuesTable")


    </tbody>
</table>

@section scripts{
    <script>
        $(function () {
            $('.btn').on('click', function () {
                var sortBy = $(this).val()
                $('#venuesTable').load('?handler=VenuesPartial&sortBy=' + sortBy);
            });
        });
    </script>
}